<div>
    <h1>Event Details</h1>
    <div class="well hoverwell thumbnail">
        <div class="row">
            <div class="col-md-6 col-sm-8">
                <div>Name: {{event.name}}</div>
                <div>Organiser: {{event.organiser}}</div>
                <div>System: {{event.system}}</div>
                <div>Max Players: {{event.maxPlayers}}</div>
            </div>
            <div class="col-md-6 col-sm-2">
                <button class="btn btn-primary" (click)="handleClickme()">click me!</button>
            </div>
        </div>
    </div>
</div>